apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-app
  template:
    metadata:
      labels:
        app: test-app
    spec:
      imagePullSecrets:
        - name: dockerhub-creds   # remove if not needed
      containers:
        - name: nginx
          image: nginx:1.25-alpine
          imagePullPolicy: Always
